{% extends 'base.html.twig' %}

{% block title %}
  Hello HomeController!
{% endblock %}

{% block body %}
  <div class="example-wrapper">
    {% if isPaginated %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page == 1 %}
            <li class="page-item">
              <a class="page-link"
                href="{{
                path(
                  'app_home',
                  {
                    page: page - 1,
                    nbre: nbre
                  }
                )
                }}">
                Previous
              </a>
            </li>
          {% endif %}

          {% for i in rangr(1, nbrePage) %}
            <li class="page-item">
              <a class="page-link"
                href="{{
                path(
                  'app_home',
                  {
                    page: i,
                    nbre: nbre
                  }
                )
                }}">
                {{ i }}
              </a>
            </li>
          {% endfor %}

          {% if page == nbrePage %}
            <li class="page-item">
              <a class="page-link"
                href="{{
                path(
                  'app_home',
                  {
                    page: page + 1,
                    nbre: nbre
                  }
                )
                }}">
                Next
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock %}
